<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="IRCWindow.Properties.UISettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        <section name="IRCWindow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="IRCWindow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
  <userSettings>
    <IRCWindow.Properties.UISettings>
      <setting name="TopicFont" serializeAs="String">
        <value>Arial, 12.75pt</value>
      </setting>
      <setting name="DateTimeFormat" serializeAs="String">
        <value>[HH:mm:ss]</value>
      </setting>
      <setting name="QuitMessage" serializeAs="String">
        <value>CIRCe by Vladimir Khil</value>
      </setting>
      <setting name="ChatFont" serializeAs="String">
        <value>Courier New, 11.25pt</value>
      </setting>
      <setting name="ChatBackColor" serializeAs="String">
        <value>GhostWhite</value>
      </setting>
      <setting name="PrintFont" serializeAs="String">
        <value>Arial, 12.75pt</value>
      </setting>
      <setting name="PrintBackColor" serializeAs="String">
        <value>GhostWhite</value>
      </setting>
      <setting name="TopicBackColor" serializeAs="String">
        <value>Lavender</value>
      </setting>
      <setting name="UsersFont" serializeAs="String">
        <value>Segoe UI, 11.25pt</value>
      </setting>
      <setting name="UsersBackColor" serializeAs="String">
        <value>GhostWhite</value>
      </setting>
      <setting name="TreeFont" serializeAs="String">
        <value>Segoe UI, 9.75pt, style=Bold, Italic</value>
      </setting>
      <setting name="TreeBackColor" serializeAs="String">
        <value>Azure</value>
      </setting>
      <setting name="MessagesColor" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ServerConnectedColor" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="ServerDisconnectedColor" serializeAs="String">
        <value>Gray</value>
      </setting>
      <setting name="SelfOnChannelBackColor" serializeAs="String">
        <value>Thistle</value>
      </setting>
      <setting name="SelfOnChannelForeColor" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="IRCWindowSize" serializeAs="String">
        <value>819, 509</value>
      </setting>
      <setting name="LogMode" serializeAs="String">
        <value>Txt</value>
      </setting>
      <setting name="PlayMusic" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PutRegisterMessage" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowUrlOnCmd" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowReadSplitters" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OpenPrivateVisible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PlayMusicExt" serializeAs="String">
        <value>All</value>
      </setting>
      <setting name="UrlExt" serializeAs="String">
        <value>All</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value>(Default)</value>
      </setting>
      <setting name="PingServer" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="WaitServer" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="SavePasswords" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FlashingParams" serializeAs="Xml">
        <value>
          <FlashParams xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <FlashingMode>Meduim</FlashingMode>
            <FlashOnNick>true</FlashOnNick>
            <FlashOnPrivate>true</FlashOnPrivate>
            <UseBlackList>false</UseBlackList>
            <UseWhiteList>false</UseWhiteList>
            <BlackList />
            <WhiteList />
          </FlashParams>
        </value>
      </setting>
      <setting name="NotifyOnCtcp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NotifyOnNoMedia" serializeAs="String">
        <value>False</value>
      </setting>
    </IRCWindow.Properties.UISettings>
    <IRCWindow.Properties.Settings>
      <setting name="AppVersion" serializeAs="String">
        <value>2011-01-06</value>
      </setting>
      <setting name="DefUserIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ObsoleteTime" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="UserInfoString" serializeAs="String">
        <value>About me</value>
      </setting>
      <setting name="SearchForUpdates" serializeAs="String">
        <value>Checked</value>
      </setting>
      <setting name="SearchForAddons" serializeAs="String">
        <value>Checked</value>
      </setting>
      <setting name="DataVersion" serializeAs="String">
        <value>2011-01-06</value>
      </setting>
      <setting name="UseAppDataFolder" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DataFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="FirstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ServersVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NickListVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ChannelsVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NicksVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PersonVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SettingsVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Proxy" serializeAs="String">
        <value />
      </setting>
      <setting name="UseProxy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsFirstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AddonsNew" serializeAs="Xml">
        <value>
          <ArrayOfAddonInformation xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="Channels" serializeAs="Xml">
        <value>
          <ArrayOfChannel xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <Channel>
              <Sticked>false</Sticked>
              <AutoOpen>false</AutoOpen>
              <Name>#chgk</Name>
            </Channel>
            <Channel>
              <Sticked>false</Sticked>
              <AutoOpen>false</AutoOpen>
              <Name>#luz</Name>
            </Channel>
            <Channel>
              <Sticked>false</Sticked>
              <AutoOpen>false</AutoOpen>
              <Name>#mafbot</Name>
            </Channel>
            <Channel>
              <Sticked>false</Sticked>
              <AutoOpen>false</AutoOpen>
              <Name>#saveicq</Name>
            </Channel>
            <Channel>
              <Sticked>false</Sticked>
              <AutoOpen>false</AutoOpen>
              <Name>#sns</Name>
            </Channel>
            <Channel>
              <Sticked>false</Sticked>
              <AutoOpen>false</AutoOpen>
              <Name>#svoya_igra</Name>
            </Channel>
            <Channel>
              <Sticked>false</Sticked>
              <AutoOpen>false</AutoOpen>
              <Name>#svoyak</Name>
            </Channel>
            <Channel>
              <Sticked>false</Sticked>
              <AutoOpen>false</AutoOpen>
              <Name>#vdi</Name>
            </Channel>
            <Channel>
              <Sticked>false</Sticked>
              <AutoOpen>false</AutoOpen>
              <Name>#vdi-red</Name>
            </Channel>
          </ArrayOfChannel>
        </value>
      </setting>
      <setting name="Nicks" serializeAs="Xml">
        <value>
          <ArrayOfNickName xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="User" serializeAs="Xml">
        <value>
          <User xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <UserName>User</UserName>
            <Host>Host</Host>
            <Name>Real name</Name>
            <EMail>me@host.ru</EMail>
            <Info />
          </User>
        </value>
      </setting>
      <setting name="Servers" serializeAs="Xml">
        <value>
          <ArrayOfServer xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <Server>
              <Sticked>false</Sticked>
              <AutoOpen>false</AutoOpen>
              <Description>IzhIrc</Description>
              <Name>irc.izhirc.ru</Name>
              <Port>6667</Port>
              <Channels>
                <Channel>
                  <Sticked>false</Sticked>
                  <AutoOpen>false</AutoOpen>
                  <Name>#sns</Name>
                </Channel>
                <Channel>
                  <Sticked>false</Sticked>
                  <AutoOpen>false</AutoOpen>
                  <Name>#svoya_igra</Name>
                </Channel>
                <Channel>
                  <Sticked>false</Sticked>
                  <AutoOpen>false</AutoOpen>
                  <Name>#svoyak</Name>
                </Channel>
              </Channels>
              <Passwords />
            </Server>
            <Server>
              <Sticked>false</Sticked>
              <AutoOpen>false</AutoOpen>
              <Description>ForestNet</Description>
              <Name>irc.forestnet.org</Name>
              <Port>6667</Port>
              <Channels>
                <Channel>
                  <Sticked>false</Sticked>
                  <AutoOpen>false</AutoOpen>
                  <Name>#saveicq</Name>
                </Channel>
              </Channels>
              <Passwords />
            </Server>
            <Server>
              <Sticked>false</Sticked>
              <AutoOpen>false</AutoOpen>
              <Description>2777</Description>
              <Name>irc.2777.ru</Name>
              <Port>6667</Port>
              <Channels>
                <Channel>
                  <Sticked>false</Sticked>
                  <AutoOpen>false</AutoOpen>
                  <Name>#mafbot</Name>
                </Channel>
              </Channels>
              <Passwords />
            </Server>
            <Server>
              <Sticked>false</Sticked>
              <AutoOpen>false</AutoOpen>
              <Description>ChgkInfo</Description>
              <Name>irc.chgk.info</Name>
              <Port>6667</Port>
              <Channels>
                <Channel>
                  <Sticked>false</Sticked>
                  <AutoOpen>false</AutoOpen>
                  <Name>#vdi</Name>
                </Channel>
                <Channel>
                  <Sticked>false</Sticked>
                  <AutoOpen>false</AutoOpen>
                  <Name>#vdi-red</Name>
                </Channel>
              </Channels>
              <Passwords />
            </Server>
            <Server>
              <Sticked>false</Sticked>
              <AutoOpen>false</AutoOpen>
              <Description>MGTS</Description>
              <Name>irc.mgts.by</Name>
              <Port>6667</Port>
              <Channels />
              <Passwords />
            </Server>
            <Server>
              <Sticked>false</Sticked>
              <AutoOpen>false</AutoOpen>
              <Description>QuakeNet</Description>
              <Name>irc.quakenet.org</Name>
              <Port>6667</Port>
              <Channels />
              <Passwords />
            </Server>
          </ArrayOfServer>
        </value>
      </setting>
      <setting name="Windows" serializeAs="Xml">
        <value>
          <ArrayOfWindowInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="LogProviders" serializeAs="Xml">
        <value>
          <ArrayOfLogProvider xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <LogProvider>
              <Title>Txt</Title>
            </LogProvider>
            <LogProvider>
              <Title>Html</Title>
              <Header>&lt;html&gt;&lt;head&gt;&lt;title&gt;[[WindowName]]&lt;/title&gt;&lt;/head&gt;&lt;body&gt;</Header>
              <OpenB>&lt;b&gt;</OpenB>
              <CloseB>&lt;/b&gt;</CloseB>
              <OpenU>&lt;u&gt;</OpenU>
              <CloseU>&lt;/u&gt;</CloseU>
              <OpenK>&lt;span style="color:[[Color]]"&gt;</OpenK>
              <CloseK>&lt;/span&gt;</CloseK>
              <OpenL>&lt;span style="background-color:[[Color]]"&gt;</OpenL>
              <CloseL>&lt;/span&gt;</CloseL>
              <Bottom>&lt;/body&gt;&lt;/html&gt;</Bottom>
            </LogProvider>
            <LogProvider>
              <Title>Rtf</Title>
              <Header>{\rtf1\ansi\ansicpg1251\deff0\deflang1049{\fonttbl{\f0\fnil\fcharset204{\*\fname Courier New;}Courier New CYR;}}[[RTFCT]]
                \viewkind4\uc1\pard\f0\fs20
</Header>
              <OpenB>\b</OpenB>
              <CloseB>\b0</CloseB>
              <OpenU>\ul</OpenU>
              <CloseU>\ul0</CloseU>
              <OpenK>\cf[[Color]]</OpenK>
              <OpenL>\chshdng0\chcbpat[[Color]]</OpenL>
              <Bottom>\r\n}\r\n</Bottom>
            </LogProvider>
          </ArrayOfLogProvider>
        </value>
      </setting>
    </IRCWindow.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <IRCWindow.Properties.Settings>
      <setting name="UpdatePath" serializeAs="String">
        <value>http://vladimirkhil.com/circe/</value>
      </setting>
      <setting name="RplUserHostRegexPattern" serializeAs="String">
        <value>(?&lt;nick&gt;[^ =*]*)(?&lt;op&gt;\*?)\=(?&lt;plus&gt;[+-])\~(?&lt;host&gt;[^ ]*)</value>
      </setting>
    </IRCWindow.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUpdateService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://vladimirkhil.com/services/update" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IUpdateService" contract="UpdateService.IUpdateService"
        name="BasicHttpBinding_IUpdateService" />
    </client>
  </system.serviceModel>
</configuration>
