<?xml version="1.0"?>
<configuration>
	<configSections>
 </configSections>
 <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_IUpdateService" />
    <binding name="BasicHttpBinding_ISIService" />
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://vladimirkhil.com/services/si" binding="basicHttpBinding"
    bindingConfiguration="BasicHttpBinding_ISIService" contract="SIService.ISIService"
    name="BasicHttpBinding_ISIService" />
   <endpoint address="http://vladimirkhil.com/services/update" binding="basicHttpBinding"
    bindingConfiguration="BasicHttpBinding_IUpdateService" contract="UpdateService.IUpdateService"
    name="BasicHttpBinding_IUpdateService" />
  </client>
 </system.serviceModel>
</configuration>
